<h2>Reporter output</h2><table><tr><td><div style="display:block;margin-left:10px;"><div  class="teststepfail"><span class="teststepfail-label">T </span>Given user open cleartrip application</div><div style="display:block;margin-left:10px;"><div  class="fail"><span class="fail-label">F </span>Timed out after 0 seconds: Unable to create driver instance in 1st attempt with retry timeout of 0 seconds. You can check/set value of 'driver.init.retry.timeout' appropriately to set retry timeout on driver initialization failure.
Failed to execute command handset open: Cannot open device 1015FA7BCD813803 for user is_user1@infostretch.com, device is in use.
Command duration or timeout: 1.57 seconds
Build info: version: '2.53.0', revision: '35ae25b1534ae328c771e0856c93e187490ca824', time: '2016-03-15 10:43:46'
System info: host: 'ICPL12776', ip: '192.168.47.2', os.name: 'Windows 10', os.arch: 'amd64', os.version: '10.0', java.version: '1.8.0_161'
Driver info: com.qmetry.qaf.automation.ui.webdriver.QAFExtendedWebDriver</div></div><div  class="teststep"><span class="teststep-label">T </span>And user selects hotels tab from menu</div><div  class="teststep"><span class="teststep-label">T </span>And user set 'Hyderabad' location for finding hotels</div><div  class="teststep"><span class="teststep-label">T </span>Then user verify hotels availability and clicks search hotels button</div><div  class="teststep"><span class="teststep-label">T </span>And user selects hotel from results</div><div  class="teststep"><span class="teststep-label">T </span>Then user verify hotel details from details page</div></div></td></tr>
</table>